<nav class="navbar navbar-expand-md navbar-light bg-light" id="navbarUp">
    <div class="container-fluid">
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <span class="text-white">
                {{ request.user.first_name|upper }} {{request.user.last_name|upper }}
            </span>
            <ul class="navbar-nav mb-2 mb-lg-0 ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" id="nombre_nav" aria-expanded="false" href="#">
                        <i class="fa-solid fa-gear fa-lg"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="nombre_nav">
                        <li><a class="dropdown-item" href="#">New project</a></li>
                        <li><a class="dropdown-item" href="{% url "password_change" %}">Settings</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url "logout" %}">Log out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>