<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <title>
        {% block title %}
        {% comment "title go here" %}{% endcomment %}
        {% endblock %}
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- images and icons -->
    <link rel="icon" href="{% static 'img/logo.png' %}" width="200" height="100">
    <link rel="shortcut icon" type="image/x-icon" href="{% static "img/favicon.ico" %}">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}"> 
    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <!-- load fontawesome -->
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <!-- block to agree link or script -->
    {% block link %}
    {% comment "link to css or js" %}{% endcomment %}
    {% endblock %}
</head>

<body>
    {% block content %}
    {% comment "body footer ect all content" %}{% endcomment %}
    {% endblock %}

    <!-- Start Script -->
    <script src="{% static "js/bootstrap.bundle.min.js" %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <!-- End Script -->
    {% block script %}{% endblock %}
</body>
</html>