<!-- there is the sidebar -->
{% load static %}
<div class="sidebar" id="side_nav">
    <div class="d-flex justify-content-center align-items-center">
        <img src="{% static "img/apple-icon.png" %}" alt="logo" width="100" height="100">
    </div>

    <ul class="list-unstyled px-2">
        <li class=""><a href="{% url "mainHome" %}" class="text-decoration-none px-3 py-2 d-block"><i class="fa-solid fa-house"></i>
                Home</a></li>
        <li class=""><a href="#" class="text-decoration-none px-3 py-2 d-block"><i class="fa-solid fa-list"></i>
                Projects</a></li>
        <li class=""><a href="{% url "customers" %}" class="text-decoration-none px-3 py-2 d-block"><i class="fa-solid fa-users"></i>
                Costumers</a></li>
        <li class=""><a href="#" class="text-decoration-none px-3 py-2 d-block"><i
                    class="fal fa-envelope-open-text"></i> Services</a></li>
        <li class=""><a href="#" class="text-decoration-none px-3 py-2 d-block"><i class="fal fa-users"></i>
                Customers</a></li>
    </ul>
    <hr class="h-color mx-2">

    <ul class="list-unstyled px-2">
        <li class=""><a href="#" class="text-decoration-none px-3 py-2 d-block"><i class="fal fa-bars"></i>
                Settings</a></li>
        <li class=""><a href="#" class="text-decoration-none px-3 py-2 d-block"><i class="fal fa-bell"></i>
                Notifications</a></li>
    </ul>
</div>