<!-- there is the sidebar -->
{% load static %}
<div class="sidebar" id="side_nav">
    <div class="d-flex justify-content-center align-items-center">
        <img src="{% static "img/apple-icon.png" %}" alt="logo" width="100" height="100">
    </div>

    <ul class="list-unstyled px-2">
        <li class=""><a href="{% url "mainHome" %}" class="text-decoration-none px-3 py-2 d-block"><i class="fa-solid fa-house"></i>
                Home</a></li>
        <li class=""><a href="{% url "registers" %}" class="text-decoration-none px-3 py-2 d-block"><i class="fa-solid fa-folder-open"></i>
                Registers</a></li> <!--Testings de registro-->
        <li class=""><a href="{% url "customers" %}" class="text-decoration-none px-3 py-2 d-block"><i class="fa-solid fa-users"></i>
                Costumers</a></li>
        <li class=""><a href="{% url "products" %}" class="text-decoration-none px-3 py-2 d-block"><i
                    class="fa-solid fa-list"></i> 
                Products</a></li>
        <li class=""><a href="{% url "stores" %}" class="text-decoration-none px-3 py-2 d-block"><i class="fa-regular fa-box"></i>
                Stores</a></li>
        <li class=""><a href="{% url "testing" %}" class="text-decoration-none px-3 py-2 d-block"><i class="fa-regular fa-xmark"></i>
                testing</a></li> 
    </ul>
    <hr class="h-color mx-2">

    <ul class="list-unstyled px-2">
        <li class=""><a href="#" class="text-decoration-none px-3 py-2 d-block"><i class="fal fa-bars"></i>
                Settings</a></li>
        <li class=""><a href="#" class="text-decoration-none px-3 py-2 d-block"><i class="fal fa-bell"></i>
                Notifications</a></li>
    </ul>
</div>