/* family font */
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
h1{
    font-weight: 350;
}
.btn{
    font-weight: 300;
    background-color: #59ab6fff;
    border: #59ab6fff;
}
.btn:hover{
    background: rgb(63, 125, 80);
}
.btn-primary{
    --bs-btn-active-bg: rgb(73, 141, 91) !important;
}
.btn-primary:focus{
    background-color: #59ab6fff;
    border-color: #59ab6fff !important;
}
.img-fluid{
    width: 300px;
    height: auto !important;
}
.p-4{
    background-color: #eee !important;
}

#id_username {
    margin-left: 2%;
    font-family: inherit;
    font-weight: inherit;
}
#id_password {
    margin-left: 2%;
    font-family: inherit;
    font-weight: inherit;
}

