{% extends "layout/baseHead.html" %}
{% load static %}
{% comment "To write the title head" %}{% endcomment %}
{% block title %}
Zay Software commercial
{% endblock %}

{% comment "to write link of css or else" %}{% endcomment %}
{% block link %}
<link rel="stylesheet" href="{% static "css/register.css" %}">
<link rel="stylesheet" href="{% static "css/stores.css" %}">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
{% csrf_token %}
{% endblock %}


{% comment "to write body html" %}{% endcomment %}
{% block content %}
<div class="main-container d-flex">
    {% include "layout/baseMain.html" %}
    <div class="content">
        {% include "layout/baseOption.html" %}
        <div class="dashboard-content px-3 pt-4 mt-4">
            <div class="row" id="tableData">
                <div class="text-center">
                    <h2 class="fs-2">
                        Matrices Almacenes
                    </h2>
                </div>
                
                <div class="col-sm-12 col-md-12 col-xl-12 mt-4">
                    <div class="realContent">
                        <div class="ilustration">
                            <h2>Matriz de Almacén</h2>
                            <label for="storeSelect">Selecciona un almacén:</label>
                            <select id="storeSelect">
                                <option value="" disabled selected>Select an option</option>
                            </select>
                            <button onclick="cargarMatriz()" id="cargarMatrizButton">Cargar Matriz</button>
                            <button onclick="asignarMatriz()" id="cargarMatrizButton">Asignar Matriz</button>
    
                            <div class="container" id="matriz"></div>
                        </div>
                </div>
                
                <div class="modal fade" id="infoModal" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Information</h5>
                            </div>
                            <div class="modal-body">
                                <p>the store has been successfully deleted</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" id="refresh-button">Accept</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% comment "the modal to information or update client" %}{% endcomment %}
            </div>
        </div>
    </div>
</div>
</div>-->
<!-- Start Script -->
<script src="{% static "js/bootstrap.bundle.min.js" %}"></script>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
<script src="{% static "js/almacen_matriz.js" %}"></script>
<!-- End Script -->
{% endblock %}