{% extends "layout/baseHead.html" %}
{% load static %}
{% comment "To write the title head" %}{% endcomment %}
{% block title %}
Zay Software commercial
{% endblock %}

{% comment "to write link of css or else" %}{% endcomment %}
{% block link %}
<link rel="stylesheet" href="{% static "css/main.css" %}">
{% endblock %}


{% comment "to write body html" %}{% endcomment %}
{% block content %}
    <div class="main-container d-flex"> 
        {% include "layout/baseMain.html" %}
        <div class="content">  
            <nav class="navbar navbar-expand-md navbar-light bg-light" id="navbarUp">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                        <span class="text-white">
                            {{ request.user.first_name|upper }} {{request.user.last_name|upper }}
                        </span>
                        <ul class="navbar-nav mb-2 mb-lg-0 ml-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" id="nombre_nav" aria-expanded="false" href="#">
                                    <i class="fa-solid fa-gear fa-lg"></i>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="nombre_nav">
                                    <li><a class="dropdown-item" href="#">New project</a></li>
                                    <li><a class="dropdown-item" href="#">Settings</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="{% url "logout" %}">Log out</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="dashboard-content px-3 pt-4">
                <h2 class="fs-5"> Dashboard</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, totam? Sequi alias eveniet ut quas
                    ullam delectus et quasi incidunt rem deserunt asperiores reiciendis assumenda doloremque provident,
                    dolores aspernatur neque.</p>
            </div>
        </div>
    </div>
    {% block script %}
    <script src="{% static "js/main.js" %}"></script>
    {% endblock %}
{% endblock %}