{% extends "layout/baseHead.html" %}
{% load static %}
{% comment "To write the title head" %}{% endcomment %}
{% block title %}
Zay Software commercial
{% endblock %}

{% comment "to write link of css or else" %}{% endcomment %}
{% block link %}
<link rel="stylesheet" href="{% static "css/record.css" %}">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
{% csrf_token %}
{% endblock %}


{% comment "to write body html" %}{% endcomment %}
{% block content %}
<div class="main-container d-flex">
    {% include "layout/baseMain.html" %}
    <div class="content">
        {% include "layout/baseOption.html" %}
        <div class="dashboard-content px-3 pt-4 mt-4">
            <div class="row" id="tableData">
                <div class="text-center">
                    <h2 class="fs-2">
                        Registers
                    </h2>
                </div>

                <div class="col-sm-12 col-md-12 col-xl-12 mt-4">
                    <div class="table-responsive">
                        <table id="datatable-records" class="table table-bordered table-striped table-hover">
                            <caption>
                                Table Registers
                            </caption>
                            <thead>
                                <tr>
                                    <th class="centered table-danger">#</th>
                                    <th class="centered table-danger">Costumer</th>
                                    <th class="centered table-danger">Store</th>
                                    <th class="centered table-danger">Date In</th>
                                    <th class="centered table-danger">Date Out</th>
                                    <th class="centered table-danger">Dimensions</th>
                                    <th class="centered table-danger">volume Total</th>
                                    <th class="centered table-danger">Weight Total</th>
                                    <th class="centered table-danger">Fragile</th>
                                </tr>
                            <tbody id="tableBodyClients" class="table-group-divider"></tbody>
                            </thead>
                        </table>
                    </div>
                </div>

                {% comment "the modal information of costumer" %}{% endcomment %}
                <div class="modal fade" id="infoClient" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Customer Details</h5>
                            </div>
                            <div class="modal-body d-flex flex-column justify-content-center align-items-center">
                                {% comment "here go the content of costumer" %}{% endcomment %}
                                <p><strong>Name:</strong> <span id="clientName"></span></p>
                                <p><strong>Last Name:</strong> <span id="clientLastName"></span></p>
                                <p><strong>Email:</strong> <span id="clientEmail"></span></p>
                                <p><strong>Address:</strong> <span id="clientAddress"></span></p>
                                <p><strong>Phone:</strong> <span id="clientPhone"></span></p>
                                <p><strong>Cedula:</strong> <span id="clientCedula"></span></p>
                                <p><strong>Birthdate:</strong> <span id="clientBirthdate"></span></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% comment "the modal to information or update client" %}{% endcomment %}

                {% comment "the modal information of costumer" %}{% endcomment %}
                <div class="modal fade" id="infoStore" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Store Details</h5>
                            </div>
                            <div class="modal-body d-flex flex-column justify-content-center align-items-center">
                                {% comment "here go the content of costumer" %}{% endcomment %}
                                <p><strong>Name:</strong> <span id="storeName"></span></p>
                                <p><strong>Location:</strong> <span id="storeLocation"></span></p>
                                <p><strong>Dimensions:</strong> <span id="storeDimensions"></span></p>
                                <p><strong>Total Space:</strong> <span id="storeTotalSpace"></span></p>
                                <p><strong>Available Space:</strong> <span id="storeAvailableSpace"></span></p>
                                <p><strong>Record Quantity:</strong> <span id="storeRecordQuantity"></span></p>
                                <p><strong>Address:</strong> <span id="storeAddress"></span></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% comment "the modal to information or update client" %}{% endcomment %}

            </div>
        </div>
    </div>
</div>
</div>-->
<!-- Start Script -->
<script src="{% static "js/bootstrap.bundle.min.js" %}"></script>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
<script src="{% static "js/record.js" %}"></script>
<!-- End Script -->
{% endblock %}

