{% extends "layout/baseHead.html" %}
{% load static %}
{% comment "To write the title head" %}{% endcomment %}
{% block title %}
Zay Software commercial
{% endblock %}

{% comment "to write link of css or else" %}{% endcomment %}
{% block link %}
<link rel="stylesheet" href="{% static "css/stores.css" %}">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
{% csrf_token %}
{% endblock %}


{% comment "to write body html" %}{% endcomment %}
{% block content %}
<div class="main-container d-flex">
    {% include "layout/baseMain.html" %}
    <div class="content">
        {% include "layout/baseOption.html" %}
        <div class="dashboard-content px-3 pt-4 mt-4">
            <div class="row" id="tableData">
                <div class="text-center">
                    <h2 class="fs-2">
                        Stores
                    </h2>
                </div>
                <div class="d-flex justify-content-start align-items-center mt-2">
                    <a class="btn btn-dark btn-sm" href="{% url "storesCreate" %}">
                        <i class="fa-solid fa-plus"></i>
                        <span class="add">
                            add Store
                        </span>
                    </a>
                </div>
                <div class="col-sm-12 col-md-12 col-xl-12 mt-4">
                    <div class="table-responsive">
                        <table id="datatable-stores" class="table table-bordered table-striped table-hover">
                            <caption>
                                Table Stores
                            </caption>
                            <thead>
                                <tr>
                                    <th class="centered table-danger">#</th>
                                    <th class="centered table-danger">Names</th>
                                    <th class="centered table-danger">Location</th>
                                    <th class="centered table-danger">Dimensions</th>
                                    <th class="centered table-danger">Total Space</th>
                                    <th class="centered table-danger">Available Space</th>
                                    <th class="centered table-danger">Record Quantity</th>
                                    <th class="centered table-danger">Adress</th>
                                    <th class="centered table-danger">Options</th>
                                </tr>
                            <tbody id="tableBodyStores" class="table-group-divider"></tbody>
                            </thead>
                        </table>
                    </div>
                </div>
                {% comment "the modal warning of delete costumer" %}{% endcomment %}
                <div class="modal fade" id="warningModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">warning</h5>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to delete this store?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button id="accept-button" type="button" class="btn btn-primary">Accept</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% comment "the modalwarning of delete costumer" %}{% endcomment %}

                {% comment "the modal information of delete costumer" %}{% endcomment %}
                <div class="modal fade" id="infoModal" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Information</h5>
                            </div>
                            <div class="modal-body">
                                <p>the store has been successfully deleted</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" id="refresh-button">Accept</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% comment "the modal to information or update client" %}{% endcomment %}
            </div>
        </div>
    </div>
</div>
</div>-->
<!-- Start Script -->
<script src="{% static "js/bootstrap.bundle.min.js" %}"></script>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
<script src="{% static "js/stores.js" %}"></script>
<!-- End Script -->
{% endblock %}